{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'hotelapp/css/bootstrap.min.css'%}">
        <link href="{% static 'hotelapp/css/hotel.css'%}" rel= "stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <link rel="stylesheet" href="resources/css/plugin/datepicker/bootstrap-datepicker.css">
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js" integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


        <title>관리자</title>
        <style>
            .admin_t {
                border-collapse: collapse;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
                width: 100%;
            }
            .admin_t thead th {
                padding: 10px 5px;
                text-align: center;
            }
            .admin_t tbody td{
                color: #999;
                text-align: center;
                padding: 15px 5px;
            }
        </style>
    </head>
    <body>
        {% include 'hotelapp/include/admin_nav.html' %}
        <div style="padding: 30px">
            <h3>예약조회</h3>
            <div class="sch">
                
            </div>
            <table class="admin_t">
                <thead>
                    <tr>
                        <th>예약번호</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>휴대폰번호</th>
                        <th>호실</th>
                        <th>객실타입</th>
                        <th>인원_어른</th> 
                        <th>인원_어린이</th> 
                        <th>인원_유아</th> 
                        <th>입실일</th>
                        <th>퇴실일</th>        
                        <th>결제시간</th>
                        <th>결제금액</th>
                        <th>비고</th>
                    </tr>
                </thead>
                <tbody>
                    {% for col in aa %}
                    <tr>
                        {% for data in col %}
                        <td>{{data}}</td>
                        {%endfor%}
                        <td><button>예약취소</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>