{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'hotelapp/css/hotel.css'%}" rel= "stylesheet" type="text/css">
        <title>지역별 관광객수</title>
    </head>
    <body>
        {% include 'hotelapp/include/admin_nav.html' %}

        <div style="width: 1200px; margin: 0 auto; text-align: center;">
            <img src="{% static 'hotelapp/img/local_visit.png' %}"  style="width: 1200px;">
            <img src="{% static 'hotelapp/img/monthlycount.png' %}"  style="width: 1200px;">
            <img src="{% static 'hotelapp/img/plot.png' %}"  style="width: 1200px;">
        </div>
    </body>
    
        
    {% include 'hotelapp/include/footer.html' %}
</html>