{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> reservation </title>
    <link href="{% static 'hotelapp/css/hotel.css' %}" rel="stylesheet" type="text/css">
    <style>
        input, .aa select {
            width: 500px;
            border: 1px solid #ddd;
            padding: 15px 10px;
            font-size: 18px;
        }
        ul p {font-size: 18px; font-weight: 600; margin: 30px 0 10px;}
        .tb {
            width: 100%;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            margin-top: 50px;
        }
        .tb th {padding: 15px 5px;}
        .tb td {padding: 20px 5px; text-align: center; border-top: 1px solid #ddd;}
    
    </style>
</head>
<body>
    {% include 'hotelapp/include/nav.html' %}
    <div class="aa"style="margin: 10px auto 100px; width: 1200px;">
        <IMG SRC= "{% static 'hotelapp/img/room4.png'%}">
        <h2>저희 고려호텔을 찾아 주셔서 감사합니다.</h2>
        <form action="/hotel/reserve_info" method="get">
            <ul>
                <li>
                    <p>*는 필수 선택 사항 입니다.</p>
                </li>
                <li>
                    <p>객실 선호 전망(미선택시 시티뷰가 배정됩니다)</p>
                    <select>
                        <option name="res_num">선택</option>
                        <option name="res_num">오션뷰</option>
                        <option name="res_num">마운틴뷰</option>
                        <option name="res_num">시티뷰</option>
                    </select>
                </li>
                <li>
                    <p>*이름</p>
                    <input type="text" placehorder="한글명을 입력해주세요" name="mem_name">
                </li>
                <li>
                    <p>이메일</p>
                    <input type="email" placehorder="asdf@gmail.com" name="mem_email">
                </li>
                <li>
                    <p>*핸드폰 번호(-제외)</p>
                    <input type="tel"  name="mem_tel">
                </li>
                <li>
                    <p>*생일</p>
                    <input type="number"  placeholder="예) 881231" name="mem_regno">
                </li>
                <li>
                    <p>*체크인</p>
                    <input type="date" name="res_in">
                </li>
                <li>
                    <p>*체크아웃</p>
                    <input type="date" name="res_out">
                </li>
                <li>
                    <p>*인원수:성인</p>
                    <input type="number" name="res_adult">
                </li>
                <li>
                    <p>*인원수:어린이</p>
                    <input type="number" name="res_kid">
                </li>
                <li>
                    <p>*인원수:아기</p>
                    <input type="number" name="res_baby">
                </li>
                <li>
                    <p>*카드선택</p>
                    <select>
                        <option>우리은행</option>
                        <option>국민은행</option>
                        <option>농협은행</option>
                        <option>기타은행</option>
                    </select>
                </li>
                <li>
                    <p>*카드번호</p>
                    <input type ="number" value="숫자만 입력" name="mem_cardno">
                </li>
                <li>
                    <p>*카드 년 월</p>
                    <input type ="month">
                </li>
                <li>
                    <p>*카드 비밀번호 앞 두자리</p>
                    <input type ="number" name="mem_cardpw">
                </li>
                <li>
                    <p>할인 코드</p>
                    <input type ="text" >   
                    <!-- name="event_code" -->
                </li>
            </ul>
        
        <hr>
        <!-- <table border="1" class="tb">
            <tr>
                <th>체크인</th>
                <th>체크아웃</th>
                <th>객실 가격</th>
                <th>이벤트</th>
                <th>할인코드</th>
                <th>지불한 가격</th>
            </tr> -->
            <!-- {% for col in df %}
            <tr>
                {% for data in col %}
                <td>{{data}}</td>
                {%endfor%}
            </tr>
            {%endfor%} -->
        </table>
        <a style="background:#000; color:#fff; display: inline-block; padding: 20px 50px; margin-top: 20px; font-size: 18px;" href="/hotel/room/">취소</a>
        <input type="submit" value="예약완료" style="background:#ffba00; color:#000; display: inline-block; padding: 20px 50px; margin-top: 20px; font-size: 18px;" >
        </form>
    </div>
    {% include 'hotelapp/include/footer.html' %}
</body>
</html>