{% load static %}
<!doctype html>
<html>
    <head>
        <title> 예약 확인 </title>
        <link href="{% static 'hotelapp/css/hotel.css' %}" rel="stylesheet" type="text/css">
        <style>
            .tb {
                width: 100%;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
                margin-top: 50px;
            }
            .tb th {padding: 15px 5px;}
            .tb td {padding: 20px 5px; text-align: center; border-top: 1px solid #ddd;}
        </style>
    </head>
    <body>
        {% include 'hotelapp/include/nav.html' %}
        <div style="width: 1200px; margin: 50px auto">
            <h2 style="color: blue; margin-bottom: 30px;">감사합니다. 고려호텔 예약이 확정되었습니다.</h2>
            <div style="position: relative;">
                <img src="{% static 'hotelapp/img/room5.png' %}" width="600px">
                <h3 style="position: absolute; bottom: 100px; left: 620px;"> 고려 호텔 위치: 세종특별자치시 세종로 2511</h3>
                <h3 style="position: absolute; bottom: 40px; left: 620px;"> 문의가 있으시다면 0444-860-2222 또는 goryu@goryuhotel.com로 연락 바랍니다</h3>
            </div>
            <table class="tb">
                <thead>
                    <tr>
                        <th>체크인</th>
                        <th>체크아웃</th>
                        <th>총인원수</th>
                        <th>이벤트</th>
                        <th>할인코드</th>
                        <th>지불한 가격</th>
                    </tr>
                </thead>
                <tbody>
                    {% for col in df1 %}
                    <tr>
                        {% for data in col %}
                        <td>{{data}}</td>
                        {%endfor%}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>


            <!-- <table class="tb">
                <thead>
                    <tr>
                        <th>투숙객 ID</th>
                        <th>투숙객 성함</th>
                        <th>체크인</th>
                        <th>체크아웃</th>
                        <th>예약된 객실</th>
                        <th>객실 호수</th>
                    </tr>
                </thead>
                <tbody>
                    {% for col in df2 %}
                    <tr>
                        {% for data in col %}
                        <td>{{data}}</td>
                        {%endfor%}
                    </tr>
                    {%endfor%}
                </tbody>
            </table> -->
            <a style="background:#ffba00; color:#000; display: inline-block; padding: 20px 50px; margin-top: 20px; font-size: 18px;" href="/hotel/room/">예약 취소</a>
        </div>
        {% include 'hotelapp/include/footer.html' %}
    </body>
</html>