{% load static %}

<div style="background:#f9f9f9; padding: 30px 0;">
    <ul class="ad_nav">
        <li>
            <a href="/hotel/index">
                <img src="{% static 'hotelapp/img/logo_black.png' %}">
            </a>
        </li>
        <li><a href="/hotel/ad_mem">회원관리</a></li>
        <li><a href="/hotel/ad_reserve">예약관리</a></li>
        <li><a href="/hotel/ad_room">객실관리</a></li>
        <li><a href="/hotel/prod">비품관리</a></li>
        <li><a href="/hotel/buyer">거래처정보</a></li>
        <li><a href="/hotel/plot">통계</a></li>
    </ul>
</div>